<div class="jumbotron mt-3">
    <div class="container">
        <h1 class="display-4">Enjoy <strong>your </strong> visit</h1>
        <br>
        <p class="lead" style="text-align: justify;">Thank you for letting me learn something about you. I will process those data and produce custom journeys for people just like you. Just keep me running and enjoy your visit.</p>
        <p class="lead" style="text-align: justify;">Did you change your mind? Hava a full MuSa experience.</p>
        <p class="text-center mt-4"><a routerLink="/survey" routerLinkActive="active" class="btn btn-primary btn-lg" href="#" role="button">Meet MuSa »</a></p>
    </div>
  </div>