<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">MuSa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/survey" routerLinkActive="active" class="nav-link" href="#">Survey</a>
        </li>
        <li class="nav-item">
            <a routerLink="/tour" routerLinkActive="active" class="nav-link" href="#">Your tour</a>
        </li>
        <li class="nav-item">
            <a routerLink="/position" routerLinkActive="active" class="nav-link" href="#">Position</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container">

    <router-outlet></router-outlet>

</div>

<!-- <app-artwork></app-artwork> -->
<!-- <app-survey></app-survey> -->
<!-- <app-tour></app-tour> -->
